.disabledObject {
  color: gray;
}


.offlineEventDataRow {
  height: 50px;
  border: thin solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.offlineEventName {
  font-weight: bold;
  font-style: italic;
}

.deleteGameButton {
  color:red;
  position:absolute;
  right: 20px;
  top: 11px;
  font-size:1.5em;
}

.declareWinnerLabel {
  text-decoration: underline;
  font-style: italic;
  text-align: center;
}

.matchPlayColumnGames {
  width: 28%;
  float: left;
}

.matchPlayColumnLines {
  width: 7%;
  float: left;
}

.matchBox {
  padding: 5px;
  height: 50px;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  border: thin solid gray;
}
.matchBox.incomplete {
  background-color: #FFAAAA;
}
.matchBox.complete {
  background-color: #AAFFAA;
}

.blankBox {
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.blankBox.oldLiner {
}

.blankBox.liner {
  border-left: thin solid gray;
}

.horizontalLine {
  border: thin solid black; 
  margin-top: 25px;
}

.matchPlayer {
  font-style: italic;
  margin-left: 5px;
  margin-right: 5px;
}
.matchPlayer.top {
  border-bottom: thin solid gray;
}
.matchPlayer.winner {
  font-style: normal;
  font-weight: bold;
}

.winnerLabel {
  margin-left: 10px;
  text-decoration: underline;
  color: blue;
}
