.choiceBox {
  border: thin solid #dadada;
  border-radius: 5px;
}

.leftChoiceBox {
  border-right: thin solid #dadada;
}

.choiceContainer {
  padding: 20px;
  padding-top: 0px;
  /*border: thin solid #dadada;*/
  border-radius: 5px;
}

.home-usage-note {
  text-align: center;
  width: 450px;
  max-width: 90%;
  margin: auto;
  margin-top: 7em;
  font-style: italic;
}

.tournamentTitle {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.titleImage {
  height: 26px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.titleImageBig {
  height: 34px;
  margin-right: 6px;
  margin-left: 6px;
  margin-bottom: 10px;
}

.tournamentDate {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: 0.9em;
}

.offlineModeWarning {
  font-weight: bold;
  float: right;
  background-color: lightpink;
}

.offlineModeRetryButton{
  margin-left: 10px;
  margin-right: 20px;
  text-decoration: underline;
  color: blue;
}
.offlineModeRetryButton:hover {
  cursor: pointer;
}

.mainContentBox {
  border-radius: 12px;
  background-color: #f0f0f0;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: thin solid gray;
}

.mainContentHeader {
  position: relative;
}

.mainContentHeaderName {
  font-style: italic;
  font-weight: bold
}

.mainContentHeaderButtons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.mainContentBox hr {
  border-color: lightgray;
}

.playerBox {
  border: thin solid gray;
  margin-top: 5px;
  border-radius: 8px;
  background-color: #FAFAFA;
  padding-bottom: 5px;
}

.playerBoxHeader {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

.playerBox.droppedPlayer {
  background-color: #FFAAAA;
}
.playerBox.gameFinished {
  background-color: #AAFFAA;
}
.playerBox.gamePending {
  background-color: #FFAAAA;
}

.debugToolsLabel {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.rightFloatButtons {
  float: right;
  margin-left: 10px;
}

.swccg-margin-top-10 {
  margin-top: 10px;
}

.swccg_forum_handle {
  font-style:italic;
  font-size: small;
  text-decoration: underline;
  color: blue;
}
