<div style='padding: 20px'>

  <!-- Title -->
  <h2>Add Top-8 Player Seeds:</h2>
  <button style='float:right' data-ng-click='addPlayer()'>Add Player...</button>
  <div style='clear:both'></div>

  <!-- Headers -->
  <div class='row'>
    <div class='col-md-2'>
      Seed #
    </div>
    <div class='col-md-6'>
      Player
    </div>
    <div class='col-md-4'>
    </div>
  </div>


  <!-- Player List -->
  <div data-ng-repeat='player in players track by $index'>

    <div class='row playerBox'>
      <div class='col-md-2'>
        {{$index + 1}}
      </div>
      <div class='col-md-6'>
        {{player.name}}
      </div>
      <div class='col-md-4'>
        <button style='display-inline; margin-right: 5px' data-ng-click='movePlayerUp(player)'>&uarr;</button>
        <button style='display-inline' data-ng-click='movePlayerDown(player)'>&darr;</button>
      </div>
    </div>
  </div>

  <hr>

  <div style='text-align:center'>
    <button data-ng-click='cancelClick()'>Cancel</button>
    <button data-ng-click='done()'>Start</button>
  </div>
</div>
