<form>
  <div style="margin:20px">
    <h2>Assign Winner: {{gameToOpen.winner.name}}</h2>

    <!-- Game Stats -->
    <div class='row' style='margin-top: 10px'>

      <div class='col-xs-4'>
        <div>Differential</div>
        <input id='differentialEntryField' ng-model="gameToOpen.diff" autofocus style='width: 50px;'>
      </div>

      <div data-ng-if='showLostPiles' class='col-xs-4'>
        <div>DS Lost</div>
        <input ng-model="gameToOpen.darkLostCards" style='width: 50px;'>
      </div>

      <div data-ng-if='showLostPiles' class='col-xs-4'>
        <div>LS Lost</div>
        <input ng-model="gameToOpen.lightLostCards" style='width: 50px;'>
      </div>

    </div>

    <hr>

    <div>
      <button id='assingWinnerOkButton' class="btn btn-default" style="float:right;" ng-click="okClick()">OK</button>
      <button class="btn btn-default" style="float:right;margin-right:5px;" ng-click="cancelClick()">Cancel</button>
      <div style="clear:both"></div>
    </div>

  </div>
</form>
