<div>


  <!--
  <div data-ng-if="!currentEvent" class="btn-group" style='position:absolute; top: 10px; right: 10px'>
    <label class="btn btn-primary" ng-model="networkStatus.networkMode" uib-btn-radio="'NETWORK_ONLINE'" data-ng-click="toggleOnlineMode()">ONLINE</label>
    <label class="btn btn-primary" ng-model="networkStatus.networkMode" uib-btn-radio="'NETWORK_OFFLINE'" data-ng-click="toggleOfflineMode()">OFFLINE</label>
  </div>
  -->


  <!-- No Event yet -->
  <div data-ng-if="currentEvent == null" style="padding:20px">
    <div style="width:100%; text-align:center">
      <h1 class="tournamentTitle">SWCCG Tournament Assistant</h1>
    </div>

    <hr>

    <!-- Checking Network Connectivity Spinner -->
    <div data-ng-if="checkingNetworkStatus">
      <div class="progressBackgroundOverlay">
      </div>
      <div  class="progressPopup">
        <div class="progressCentered">
          <div us-spinner class="progressSpinner"></div>
          <div class="progressSpacer"></div>
          <h3>Checking Network Status...</h3>
        </div>
      </div>
    </div>

    <div class="row choiceContainer">

      <div style="text-align:center">
        <div>
          <button class="btn btn-primary btn-lg" data-ng-click="createEvent()">Create New Event</button>
          <button class="btn btn-primary btn-lg" data-ng-click="loadEvent()">Load Existing Event</button>
          <!--<button class="btn btn-primary btn-lg" data-ng-click="manageOfflineData()">Manage Offline Data</button>-->
        </div>
      </div>


      <div data-ng-if='enableDebugTools'>
        <div style="margin-top: 300px; margin-left: 50px; text-align:center">
          <div style="border: thin solid #DADADA; padding: 20px">
            <div style="font-weight:bold">DEBUG TOOLS</div>

            <div>
              <button class="btn btn-info" data-ng-click="loadEventFromFile()">DEBUG: Load File</button>
              <button class="btn btn-danger" data-ng-click="clearAllData()">DEBUG: Clear All Data</button>
              <input style="display:none" type='file' id='fileinput'>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Manage Offline Data -->
  <div style='position:fixed; bottom: 20px; right: 0px; left: 0px; margin: auto; text-align:center;'>
    <hr>
    <button class="btn btn-primary btn-lg" data-ng-click="manageOfflineData()">Manage Offline Data</button>
  </div>

</div>
