<form>
  <div style="margin:20px">
    <h2>Load Existing Event</h2>
    <select class="input-sm" data-ng-model="tmp.eventId" style="min-width:200px" autofocus>
      <option value="SELECT_EVENT_PLACEHOLDER">-- Select Event --</option>
      <option ng-repeat="evt in tmp.eventNames track by $index" value='{{evt.id}}'>{{evt.name}}</option>
    </select>
    <hr>
    <div>
      <button class="btn btn-default" style="float:right" ng-click="okClick()">OK</button>
      <button class="btn btn-default" style="float:right;margin-right:5px;" ng-click="cancelClick()">Cancel</button>
      <div style="clear:both"></div>
    </div>
  </div>
</form>
