<div style="margin:20px">
  <h3>Manage Offline Event Data</h3>

  <div data-ng-repeat="event in data.offlineEvents" class="offlineEventDataRow">

    <div class="row">

      <div class="col-md-6 offlineEventName">
        {{event.name}}
      </div>

      <div class="col-md-4">
        <button class="btn btn-default" data-ng-click="loadEvent(event)">Load</button>
      </div>

      <div class="col-md-2">
        <div style="color:red; position:absolute; right: 10px; top: 4px; font-size:1.5em;" data-ng-click="removeDataForEvent(event)" class="glyphicon glyphicon-remove"></div>
      </div>

    </div>
  </div>

  <button style="float:right" class="btn btn-danger" data-ng-click="clearOfflineData()">Remove All Offline Data</button>
  <div style="clear:both"></div>

  <hr>

  <div style="text-align:center">
    <button data-ng-click="close()" class="btn btn-default">Close</button>
  </div>

</div>
