<div class='matchBox' ng-class='{"incomplete": !matchData.winner, "complete": matchData.winner}'>

  <div data-ng-if='matchData'>
    <div class='matchPlayer top'
         data-ng-class='{"winner": matchData.winner.id == matchData.player1.id}'>
         {{matchData.player1.name}}

         <span data-ng-if='matchData.winner && (matchData.winner.id == matchData.player1.id)'
              class='winnerLabel'>
           Winner
         </span>
    </div>
    <div class='matchPlayer'
         data-ng-class='{"winner": matchData.winner.id == matchData.player2.id}' >
         {{matchData.player2.name}}

         <span data-ng-if='matchData.winner && (matchData.winner.id == matchData.player2.id)'
              class='winnerLabel'>
           Winner
         </span>
    </div>
  </div>

</div>
