<div id='printStandingsNode' style='padding: 15px; text-align: center;'>

  <div style='padding: 15px; text-align: center;'>

    <!-- Player standings -->
    <h2 style='text-align:center'>Player Standings after Game #{{gameNumber}}</h2>
    <hr>

    <div style='margin-top: 5px;' data-ng-repeat='player in players track by $index'>
      #{{$index+1}}.
      <span style='margin-left: 10px'>{{player.name}}</span>
      <span style='margin-left: 15px;'>VP: {{player.vp}}</span>
      <span style='margin-left: 25px'>(SOS: {{player.sos}}) </span>
    </div>

  </div>

</div>
