<!DOCTYPE html>
<html manifest="sos.appcache">

<!-- Third Party -->
<script src="js/spin.min.js.css"></script>
<script src="jquery-2.1.4.min.js"></script>
<script src='angular.1.4.8.min.js'></script>
<script src='angular-animate.min.js'></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular-spinner.js"></script>
<script src="ui-bootstrap-tpls-1.1.0.min.js.css"></script>
<!--
<script src="jquery.bracket.min.js"></script>
-->


<!-- Main App -->
<script src="sos.js"></script>

<!-- Dialog Box Controllers -->
<script src="js/controllers/AddEightPlayerController.js"></script>
<script src="js/controllers/AddPlayerController.js"></script>
<script src="js/controllers/AssignWinnerController.js"></script>
<script src="js/controllers/CommandCardController.js"></script>
<script src="js/controllers/ConfirmBoxController.js"></script>
<script src="js/controllers/CreateEditUserController.js"></script>
<script src="js/controllers/CreateEventController.js"></script>
<script src="js/controllers/CreateGameController.js"></script>
<script src="js/controllers/currentEvent.js"></script>
<script src="js/controllers/DeclareWinnerController.js"></script>
<script src="js/controllers/EditPlayerController.js"></script>
<script src="js/controllers/ExplainPairingsController.js"></script>
<script src="js/controllers/FindPlayerController.js"></script>
<script src="js/controllers/gamesDisplay.js"></script>
<script src="js/controllers/LoadEventController.js"></script>
<script src="js/controllers/LoginController.js"></script>
<script src="js/controllers/homeScreen.js"></script>
<script src="js/controllers/ManageOfflineDataController.js"></script>
<script src="js/controllers/matchItem.js"></script>
<script src="js/controllers/matchPlayDisplay.js"></script>
<script src="js/controllers/MessageBoxController.js"></script>
<script src="js/controllers/PasswordPromptController.js"></script>
<script src="js/controllers/PrintPairingsController.js"></script>
<script src="js/controllers/PrintStandingsController.js"></script>
<script src="js/controllers/playerDisplay.js"></script>
<script src="js/controllers/userManagement.js"></script>


<!-- Services -->
<script src="js/services/ConstantsService.js"></script>
<script src="js/services/CryptoService.js"></script>
<script src="js/services/DataStorage.js"></script>
<script src="js/services/LocalData.js"></script>
<script src="js/services/LoggerService.js"></script>
<script src="js/services/MessageBoxService.js"></script>
<script src="js/services/RESTService.js"></script>
<script src="js/services/SosTiebreakService.js"></script>
<script src="js/services/StatsService.js"></script>
<script src="js/services/TournamentService.js"></script>
<script src="js/services/UtilService.js"></script>


<!-- HTML Files -->
<script src="gen/addEightPlayerHTML.js"></script>
<script src="gen/commandCardHTML.js"></script>
<script src="gen/confirmBoxHTML.js"></script>
<script src="gen/createEditGameHTML.js"></script>
<script src="gen/createEditUserHTML.js"></script>
<script src="gen/createEventHTML.js"></script>
<script src="gen/createPlayerHTML.js"></script>
<script src="gen/currentEventHTML.js"></script>
<script src="gen/declareWinnerHTML.js"></script>
<script src="gen/editPlayerHTML.js"></script>
<script src="gen/explainPairingsHTML.js"></script>
<script src="gen/findPlayerHTML.js"></script>
<script src="gen/gamesDisplayHTML.js"></script>
<script src="gen/loadEventHTML.js"></script>
<script src="gen/loginHTML.js"></script>
<script src="gen/homeScreenHTML.js"></script>
<script src="gen/manageOfflineDataHTML.js"></script>
<script src="gen/matchItemHTML.js"></script>
<script src="gen/matchPlayDisplayHTML.js"></script>
<script src="gen/messageBoxHTML.js"></script>
<script src="gen/passwordPromptHTML.js"></script>
<script src="gen/playerDisplayHTML.js"></script>
<script src="gen/printPairingsHTML.js"></script>
<script src="gen/printQuickSummaryHTML.js"></script>
<script src="gen/printStandingsHTML.js"></script>
<script src="gen/userManagementHTML.js"></script>


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/sos.css">
<link rel="stylesheet" type="text/css" href="css/findPlayer.css">
<link rel="stylesheet" type="text/css" href="css/progress.css">
<link rel="stylesheet" type="text/css" href="css/shared.css">

<!--
<link rel="stylesheet" type="text/css" href="jquery.bracket.min.css" />
-->

<body style="background-image: url(img/card_pile.png); background-repeat: no-repeat; background-size: cover;">
<div ng-app="sosApp" ng-controller="sos">

  <!-- Back/Login/Status bar navigation -->
  <div style='padding: 10px; padding-left: 20px; padding-right: 20px; border-bottom: thin solid lightgray; background-color: #EEE;'>

    <!-- Back Button -->
    <div class="btn-group">
      <button data-ng-if="currentEvent" class="btn btn-primary" data-ng-click="goHome()" style="margin-right: 30px;">&lt; Back</button>
      <a href="http://www.starwarsccg.org"><img src='img/swccg_logo.png' style="float:left; height: 40px;"></a>
      <button class='btn btn-primary' style="visibility: hidden">Hidden</button>
    </div>

    <div style="position:absolute; top: 10px; right: 20px">

      <!-- Current User + Login -->
      <div data-ng-if="isLoggedIn()">
        <div style="font-style:italic; float:left;">{{getCurrentUser()}}</div>
        <a data-ng-click='logout()' style='float:left; margin-left: 10px'>Logout</a>
      </div>

      <!-- Current User + Login -->
      <div data-ng-if="!isLoggedIn()">
        <a data-ng-click='login()' style='cursor: pointer;'>Tournament Director Login</a>
      </div>

      <!-- Offline Sync-up bar at the top-right -->
      <!--
      <div>
        <div data-ng-if="networkStatus.networkMode == 'NETWORK_OFFLINE'" class='offlineModeWarning'>
          You are OFFLINE:  <span class="offlineModeRetryButton" data-ng-click="toggleOnlineMode()">Go Online?</span>
        </div>
        <div style="clear:both"></div>
      </div>
      -->

      <!-- Online / Offline Toggle -->
      <div class="btn-group">
        <div>
          <label style="margin-right: 20px">Active Mode:</label>
          <label data-ng-class='{disabledObject: existingTournament}' >
            <input type="radio" ng-model="networkStatus.networkMode" data-ng-click="toggleOnlineMode()" value="NETWORK_ONLINE" > Online
          </label>
          <label data-ng-class='{disabledObject: existingTournament}'>
            <input type="radio" ng-model="networkStatus.networkMode" data-ng-click="toggleOfflineMode()" value="NETWORK_OFFLINE" style="margin-left:10px">  Offline
          </label>
        </div>
      </div>

    </div>

  </div>



  <div style='margin-left: 20px; margin-right: 20px; margin-bottom: 20px'>

    <!-- Current Event -->
    <div data-ng-if='currentEvent != null' current-event>
    </div>

    <!-- Home Screen -->
    <div data-ng-if='!currentEvent && !displayUserManagement' home-screen>
    </div>

    <!-- User Management -->
    <div data-ng-if='!currentEvent && displayUserManagement' user-management>
    </div>

  </div>

</div>
</body>
</html>
